.collapsible-body {
   padding-bottom: 40px; 
   background-color: honeydew;
}

.buttonMargin {
    margin-left: 5px;
}

.navigator {
    background-color: grey;
}
body {
    background-image: url("https://wallpaperaccess.com/full/418162.png");
}
.center-align{
    color: whitesmoke;
    width: 100%;
    background-color: gray;
}